.cky-notice-group{
    display: none!important;
}

.cky-consent-bar{
    display: none!important;
}
/*.bg-images {
    background-image: url('');  
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: center center;
    height: 300px; 
    color: white; 
    padding: 20px; 
}
*/